footer.footer
    .container
        .footer-content
            ul.social-links.list-inline
                li
                    a(href="mailto:andrew@andrewying.org", class="email")
                        span.social-link-text Email
                li
                    a(href="http://linkedin.com/in/yingandrew", class="linkedin")
                        span.social-link-text LinkedIn
                li
                    a(href="http://github.com/androoying" class="github", class="github")
                        span.social-link-text GitHub