if headerInverted
    header.header
        .header-content.container.clearfix.on-dark
            .header-title-wrapper
                h1.header-title
                    a(href="/index") Andrew Ying
            .header-nav-wrapper
                ul.list-inline.header-nav
                    li: a(href="index.html") Home
                    li: a(href="/about") About
                    li: a(href="/honors") Honors
                    li: a(href="/contact") Contact
else
    header.header
        .header-content.container.clearfix
            .header-title-wrapper
                h1.header-title
                    a(href="/index") Andrew Ying
            .header-nav-wrapper
                ul.list-inline.header-nav
                    li: a(href="index.html") Home
                    li: a(href="/about") About
                    li: a(href="/honors") Honors
                    li: a(href="/contact") Contact