.about-hero
    .container
        .about-feature
            h1.about-header.serif Awards are pretty cool! 

section.main
    .container
        h2.serif Honors
        p.main-copy.
            #[strong 2016]  #[a(href="http://mathcounts.coloradomath.org/winners.html#y2016") Coached the Colorado State MATHCOUNTS Champions]
            #[strong 2016]  #[a(href="https://www.broomfieldsymphony.org/YouthConcertoCompetition.php")Broomfield Symphony Orchestra Concerto Competition Winner]
            #[strong 2016]  #[a(href="http://jeffersonsymphonyorchestra.org/young_artists/competition/Bios2016.pdf") Jefferson International Young Artists Music Competition Finalist]
            #[strong 2016]  Colorado National Speech and Debate Tournament District Congressional Debate Champion
            #[strong 2015]  #[a(href="http://www.montecitomusicfestival.com/") Fellow of the Montecito International Music Festival]
            #[strong 2015]  #[a(href="https://apscore.collegeboard.org/scores/ap-awards/ap-scholar-awards?excmpid=MTG52-ST-1-apsch") AP Scholar with Distinction]     
            #[strong 2015]  American Protégé International Music Competition Winner
            #[strong 2015]  #[a(href="http://www.speechanddebate.org/DownloadHandler.ashx?File=/userdocs/publicDocs/2015_Result_Packet.pdf") Colorado National Speech and Debate Tournament District Policy Debate Champion]
            #[strong 2015]  #[a(href="http://mathcounts.coloradomath.org/winners.html#y2015") Coached the Colorado State MATHCOUNTS Champions]                    
            #[strong 2014]  #[a(href="http://kwgn.com/2014/12/01/mathletes-create-denver-math-club/") Honored as one of Colorado's Best Kids for the Denver Math Club]  
            #[strong 2014]  Colorado American Mathematics Competition 10 (AMC 10) Champion
            #[strong 2013]  Colorado State MATHCOUNTS Written Champion and Raytheon National MATHCOUNTS Finalist
            #[strong 2013]  #[a(href="http://www.cherrycreekschools.org/News/Pages/2013CCSDSpellingBee.aspx") Cherry Creek School District Spelling Bee: Three-Time Written Bee Champion]
            #[strong 2013] MTNA Colorado State Violin Competition: Junior Division Winner
            #[strong 2012] Colorado State Swimming Championships Championship Finalist: 11-12 100 Breaststroke
            #[strong 2012] Young Musicians Foundation Junior Auditions Winner