.about-hero
    .container
        .about-feature
            h1.about-header.serif Awards are pretty cool! 

section.main
    .container
        h2.serif Honors
        p.main-copy.
            #[strong 2015 \& 2016]. #[a(href="http://mathcounts.coloradomath.org/winners.html#y2016") Coached the Colorado State MATHCOUNTS Champions.]
        p.main-copy.
         | 2015 Hi