.about-hero
    .container
        .about-feature
            h1.about-header.serif 

section.main
    .container
        h2.serif Honors
        p.main-copy.
            #[strong 2016]. #[a(href="http://www.maa.org/sites/default/files/USAMO%20Qualifiers%202016.pdf") United States of America Mathematical Olympiad (USAMO) Qualifier]
        p.main-copy.
            #[strong 2016 (& 2015)]. #[a(href="http://mathcounts.coloradomath.org/winners.html#y2016") Coached the Colorado State MATHCOUNTS Champions]
        p.main-copy.
            #[strong 2016]. #[a(href="https://www.broomfieldsymphony.org/YouthConcertoWinners.php") Broomfield Symphony Orchestra Concerto Competition Winner]
        p.main-copy.
            #[strong 2016]. #[a(href="http://jeffersonsymphonyorchestra.org/young_artists/competition/Bios2016.pdf") Jefferson International Young Artists Music Competition Finalist]
        p.main-copy.
            #[strong 2016 (& 2015)]. Colorado National Speech and Debate Tournament District Policy Debate Champion
        p.main-copy.
            #[strong 2016]. Colorado National Speech and Debate Tournament District Congressional Debate Champion 
        p.main-copy.
            #[strong 2015]. Fellow of the #[a(href="http://montecitomusicfestival.com") Montecito International Music Festival]
        p.main-copy.
            #[strong 2015]. #[a(href="https://apscore.collegeboard.org/scores/ap-awards/ap-scholar-awards?excmpid=MTG52-ST-1-apsch") AP Scholar With Distinction]
        p.main-copy.
            #[strong 2015]. American Protege International Music Festival Competition Winner
        p.main-copy.
            #[strong 2014]. Honored as one of Colorado&#39;s Best Kids for Denver Math Club
        p.main-copy. 
            #[strong 2013]. #[a(href="http://mathcounts.coloradomath.org/winners.html#y2013") Colorado State MATHCOUNTS Written Champion and Raytheon National MATHCOUNTS Finalist]
        p.main-copy.
            #[strong 2013]. Cherry Creek School District Spelling Bee: Three-time Written Bee Champion 
        p.main-copy.
            #[strong 2013]. MTNA Colorado State Violin Competition: Junior Division Winner 
        p.main-copy.
            #[strong 2012]. Colorado State Swimming Championships Championship Finalist: 11-12 100 Breaststroke
        p.main-copy.
            #[strong 2013]. #[a(href="http://www.youngmusiciansfoundation.org/#!artists/c2143") Colorado Young Musicians Foundation Junior Auditions Winner]
