.about-hero
    .container
        .about-feature
            h1.about-header.serif Awards are pretty cool! 

section.main
    .container
        h2.serif Honors
        p.main-copy.
            #[strong 2016]. #[a(href="http://mathcounts.coloradomath.org/winners.html#y2016") Coached the Colorado State MATHCOUNTS Champions.]
        p.main-copy.
            In 2013, I co-founded the #[a(href="denvermathclub.weebly.com") Denver Math Club], a non-profit organization aimed at fostering elementary and middle school mathematical minds. The Campus Middle School MATHCOUNTS Team has two consecutive Colorado State Championships since I began coaching them last fall. 
        p.main-copy.
            I am a classical violinist studying under the direction of Professor Linda Wang at the University of Denver. Since my debut in 2011 with the Littleton Symphony Orchestra, I have performed across the United States, most recently at Carnegie Hall in June of 2015. My next performance, soloing with the Broomfield Symphony Orchestra, will take place in late May. 
        p.main-copy.
            In my spare time, I enjoy swimming, tennis, basketball, skiing, and reading whatever I can get my hands on!