.about-hero
    .container
        .about-feature
            h1.about-header.serif Awards are pretty cool! 

section.main
    .container
        h2.serif Honors
        p.main-copy.
            #[strong 2016 (& 2015)]. #[a(href="http://mathcounts.coloradomath.org/winners.html#y2016") Coached the Colorado State MATHCOUNTS Champions]
        p.main-copy.
            #[strong 2016]. #[a(href="https://www.broomfieldsymphony.org/YouthConcertoWinners.php") Broomfield Symphony Orchestra Concerto Competition Winner]
        p.main-copy.
            #[strong 2016]. #[a(href="http://jeffersonsymphonyorchestra.org/young_artists/competition/Bios2016.pdf") Jefferson International Young Artists Music Competition Finalist]
        p.main-copy.
            #[strong 2016]. Colorado National Speech and Debate Tournament District Congressional Debate Champion 
        p.main-copy.
            #[strong 2015]. Fellow of the #[a(href="http://montecitomusicfestival.com") Montecito International Music Festival]
        p.main-copy.
            #[strong 2015]. #[a(href="https://apscore.collegeboard.org/scores/ap-awards/ap-scholar-awards?excmpid=MTG52-ST-1-apsch") AP Scholar With Distinction]
        p.main-copy.
            #[strong 2015]. American Protege International Music Festival Competition Winner
