head
    script(type="text/javascript").
        window.location = "http://google.com";
.hero
    .container
        .feature
            h1.feature-header.serif Practice like it means everything.


section.headline
  .container
    a(id="content" class="anchor")
    h2.headline-heading Andrew Ying is a student at Cherry Creek High School. 

.container
    hr.divider-part

section.intro
    .container.clearfix
        .col.one-third
            h3.intro-heading About
            p.intro-copy.
                Volunteer, Athlete, Musician.
            a(href="/about" class="btn btn-default read-more") Read more
        .col.one-third
            h3.intro-heading Honors
            p.intro-copy.
                View my accolades!
            a(href="/honors" class="btn btn-default read-more") Learn more
        .col.one-third
            h3.intro-heading Contact
            p.intro-copy.
                Contact Me!
            a(href="/music" class="btn btn-default read-more") Contact
